.next-btn-ghost.next-btn-light {
  background: #fff;
  border-color: transparent;
  border-color: var(--btn-ghost-light-border-color, transparent);
}

.next-btn-text.next-medium {
  border-radius: 0;
  padding: 0;
  height: var(--btn-text-size-m-height, 20px);
  font-size: var(--btn-text-size-m-font, 14px);
  border-width: 0;
}

.next-btn-ghost.next-btn-light.active,
.next-btn-ghost.next-btn-light.hover,
.next-btn-ghost.next-btn-light:active,
.next-btn-ghost.next-btn-light:focus,
.next-btn-ghost.next-btn-light:hover {
  color: #000;
  color: var(--btn-ghost-light-color-hover, #000);
  background: hsla(0, 0%, 96%, 0.92);
  border-color: transparent;
  border-color: var(--btn-ghost-light-border-color-hover, transparent);
  text-decoration: none;
}

.next-btn.next-small {
  border-radius: var(--btn-size-s-corner, 3px);
  padding: 0 var(--btn-size-s-padding, 4px);
  height: var(--btn-size-s-height, 28px);
  font-size: var(--btn-size-s-font, 12px);
  border-width: var(--btn-size-s-border-width, 0);
}

.next-input.next-small {
  height: var(--form-element-small-height, 28px);
  min-height: 28px;
  border-radius: var(--form-element-small-corner, 3px);
}

.next-input.next-small input {
  height: calc(var(--form-element-small-height, 28px) - var(--input-border-width, 1px) * 2);
  min-height: 26px;
  line-height: calc(var(--form-element-small-height, 28px) - var(--input-border-width, 1px) * 2) \0;
  padding: 0 var(--input-s-padding, 8px);
  font-size: var(--form-element-small-font-size, 12px);
}

.next-radio-button-small > label {
  padding: 0 var(--radio-button-padding-small, 8px);
  height: var(--radio-button-height-small, 28px);
  min-height: 28px;
  line-height: var(--radio-button-height-small, 28px);
}

.next-radio-button-small .next-radio-label {
  height: calc(var(--radio-button-height-small, 28px) - 2px);
  min-height: 26px;
  line-height: calc(var(--radio-button-height-small, 28px) - 2px);
  font-size: var(--radio-button-font-size-small, 12px);
}
